.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}
img {
    max-height: 50px;
    border: 2px solid white;
    display: inline;
    
}

.circular--square {
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
}